<!DOCTYPE html>
<html>
  <head>
    <title>OnionUp | <%= content_for?(:title) ? yield(:title) : "Pingdom for Tor" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>

  <body>
    <div class="header_wrapper">
      <div class="logo">
        <%= link_to "OnionUp", root_url %>
      </div>
      <div id="login_user_status">
        <% if logged_in? %>
            <%= current_user.username %>
            |
            <%= link_to "Sign out", "/api/session", method: :delete %>
        <% else %>
            <em>Not Signed in.</em>
            <%#= link_to 'Sign in', new_user_session_path%>
            or
            <%#= link_to 'Sign up', new_user_registration_path%>
        <% end %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <div id='hello'>
      {{message}}
    <app></app>
   </div>
  </body>
</html>
